@define-color background      rgba(0, 0, 0, 0.5);
@define-color foreground      #dadada;
@define-color foreground-alt  rgba(218, 218, 218, 0.5);
@define-color highlight       rgba(218, 218, 218, 0.1);
@define-color urgent          #f38ba8;

* {
    border: none;
    border-radius: 0;
    font-family: CaskaydiaMono Nerd Font, FontAwesome;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: @foreground;
    margin-top: 10px; 
}

.modules-left,.modules-center,.modules-right {
    background-color: @background;
    margin: 0; 
    border-radius: 5px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(218, 218, 218, 0.1);
}

#workspaces, #clock, #tray, #bluetooth, #network, #pulseaudio, #power-profiles-daemon, #battery, #custom-exit, #custom-arch {
    padding: 0 8px;   
    margin: 4px 3px;    
    transition: background-color 0.3s;
}

#custom-arch {
    font-size: 18px;
    margin-left: 8px;
}

workspaces button {
  color: @foreground-alt;
  background-color: transparent;
  padding: 4px 8px;
  border-radius: 8px;
}

#workspaces button:hover {
  background-color: @highlight;
}

#workspaces button.active {
  color: @foreground;
  background-color: transparent; 
}

#workspaces button.empty {
  opacity: 0.5; 
}

#workspaces button.occupied {
  color: @foreground-alt; 
  opacity: 1; 
} 

#bluetooth, #battery{
  font-size:16px;
}

#clock{
    font-weight: bold;
}

#battery.critical:not(.charging) {
    color: @urgent;
}

tooltip {
    background-color: @background;
    border: 1px solid @highlight;
    border-radius: 8px;
    padding: 4px;
}

tooltip label {
    color: @foreground;
}